html{
  box-sizing: border-box;
}

*,*::before, *::after{
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-size: inherit;
}
p{
  margin: 0 0 15px 0;
}
body{
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #3F4254;
}

.container{
  max-width: 1220px;
  padding: 0px 45px;
  margin: 0 auto;
}

.question-title{
  font-size: 48px;
  line-height: 58px;
  font-family: "Outfit", sans-serif;
  color: #261127;
  text-align: center;
  font-weight: 600;
}

.subtitle{
  font-size: 24px;
  line-height: 36px;
  font-family: "Outfit", sans-serif;
  color: #261127;
  font-weight: 600;
}

