@import "global";
@import "list";
@import "stickers";
@import "box";

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  box-shadow: 0px 0px 16px #2264AD14;
  border-radius: 0px 0px 56px 56px;
  background-color: #fff;
  z-index: 9999;

  &__inner {
    height: 70px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 168px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  span {
    font-size: 16px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    color: #3F4254;

    a {
      color: #2264AD;
      font-weight: 600;
      text-decoration: underline solid 2px;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #2264AD;
      }
    }
  }

  strong {
    display: flex;
    padding: 0 10px;
  }
}

.u-intro {
  position: relative;
  padding: 150px 0 35px;
  background: transparent linear-gradient(0deg, #E5ECF5 0%, #F4F9F4 100%) 0% 0% no-repeat padding-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #fff;
  }

  &__inner {
    position: relative;
    z-index: 1;
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 60px;
    line-height: 72px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    color: #261127;
  }

  p {
    margin: 0 0 40px 0;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 0px 0px 16px #2264AD14;
  }
}

.customized {
  padding: 35px 0 40px;

  .title {
    margin: 0 0 40px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding: 30px 25px;
    margin: 0 25px 0 0;
    max-width: 745px;
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 24px;
  }

  &__right {
    padding: 30px 25px 15px;
    max-width: 360px;
    width: 100%;
    background: transparent linear-gradient(180deg, #F4F9F4 0%, #F3F5FA 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
  }

  &__logo {
    width: 170px;
    margin: 0 0 20px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain
    }
  }
}

.software {
  padding: 40px 0 40px;

  .title {
    margin: 0 0 40px 0;
  }

  &__inner {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center
  }

  &__left {
    max-width: 745px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    margin: 0 0 0 -165px;
    padding: 25px 20px;
    width: 550px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px #E5ECF5;
    border-radius: 24px;

    strong {
      padding: 15px 0 0;
      border-top: 1px solid #D8E3F0;
      display: flex;
      font-weight: 600;
    }
  }

  .subtitle {
    margin: 0 0 15px 0;
  }


  &__box {
    margin: 0 0 25px 0;
    display: flex;
    justify-content: space-between
  }

  &__box-left {
    max-width: 360px;
    width: 100%;
    margin: 0 25px 0 0;
  
    strong {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      color: #261127;
      font-family: "Outfit", sans-serif;
    }
  }

  &__box-right {
    width: 100%;
  }
}

.homecare {
  padding: 40px 0 60px;

  .title {
    margin: 0 auto 15px;
    max-width: 1050px;
  }

  .container>p {
    margin: 0 auto 40px;
    max-width: 800px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 550px;
    width: 100%;
    margin: 0 25px 0 0;
  }

  &__right {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right-one {
    position: relative;
    z-index: 1;
  }

  &__right-two {
    width: 215px;
    margin: -100px auto 0;
  }

  &__right-box {
    position: relative;
    z-index: 2;
    margin: -95px 0 0;
    padding: 35px 15px;
    background: transparent linear-gradient(180deg, #F4F9F4 0%, #F3F5FA 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    text-align: center;

    p {
      margin: 0 0 20px 0;
      font-family: "Outfit", sans-serif;
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
    }

    a {
      font-size: 16px;
      line-height: 24px;
      color: #2264AD;
      font-weight: 700;
      text-decoration: underline solid 2px;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #2264AD;
      }
    }
  }
}

.accordion-item {
  padding: 10px 20px 5px 20px;
  overflow: hidden;
  border-radius: 24px
}

.accordion-title {
  padding: 0 35px 0 0;
  margin: 0 0 10px 0;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  line-height: 36px;
  color: #261127;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  transition: linear .1s;
  &:hover{
    color: #388D3C;
  }
}

.accordion-title::after {
  content: '\25B8';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 0 45px 0 0;
}

.accordion-item.active {
  background-color: #F9F9F9;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .accordion-title::after {
  transform: translateY(-50%) rotate(-90deg);
}

.enchanced {
  background-color: #F9F9F9;
  padding: 80px 0 85px;

  .title {
    margin: 0 0 15px 0;
  }

  .container>p {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    margin: 0 25px 0 0;
    max-width: 550px;
    width: 100%;
    flex-shrink: 0;
    height: fit-content;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    padding: 30px 25px;
    width: 100%;
    border: 1px solid #D8E3F0;
    border-radius: 24px;
    background-color: #fff;
  }
}

.convenient {
  padding: 80px 0 40px;

  h3 {
    margin: 0 0 40px 0;
  }

  &__inner {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .software__right {
    width: 650px;
    position: relative;
    z-index: 1;
    margin: 0 -200px 0 0;
  }

  &__left {
    max-width: 550px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }
}

.solution {
  padding: 40px 0 80px;

  .title {
    margin: 0 0 30px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__top-left {
    margin: 0 25px 0 25px;
    max-width: 530px;
    width: 100%;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__inner-wrap {
    margin: -270px 0 0 0;
  }

  &__inner {
    padding: 30px 25px;
    background: #F9F9F9;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__left {
    padding: 15px 25px;
    margin: 0 25px 0 0;
    max-width: 530px;
    width: 100%;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border: 1px solid #D8E3F0;
    border-radius: 16px;
    background-color: #fff;
    text-align: center;
    strong{
      font-weight: 600;
    }
  }

  &__right {
    p:last-child {
      margin: 0;
    }
  }

  .stickers {
    margin: 0 0 25px auto;
    width: calc(100% - 550px);
  }
}


.footer {
  background-color: #003E83;

  .container {
    max-width: 1290px;
  }

  &__inner {
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p,
  a {
    font-size: 12px;
    line-height: 20px;
    color: #C9DAEB;
    margin: 0;
  }

  nav {
    margin: 0 0 0 auto;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 0 0 30px;
  }
}













@import "media";